{% extends 'base.html.twig' %}

{% block title %}Bloggy - Liste des articles{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Liste des articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Contenu</th>
                <th>Créer le</th>
                <th>Mis à jour le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.contenu }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <button class="btn btn-primary" href="{{ path('app_articles_show', {'id': article.id}) }}">Voir</button>
                    <button class="btn btn-danger" href="{{ path('app_articles_edit', {'id': article.id}) }}">Editer</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun article trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_articles_new') }}">Créer un nouvel article</a>

    </div>
{% endblock %}
